@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Cuenta Bloqueada";
    ViewBag.Grupo = "Cuenta";
    ViewBag.Pantalla = ViewBag.Title;
}

<h4>@ViewBag.Title</h4>
<h5>Usted ha superado el número de intentos de inicio de sesión, por lo cual su cuenta ha sido bloqueada.</h5>
<h5>Para obtener más información, contacte al administrador del sistema.</h5>

<a href="@Url.Action("index", "dashboard")" class="btn btn-warning btn-cons">Regresar</a>