@{
    ViewBag.Title = "Home Page";
}

<div>


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading separator">
                    <div class="panel-title">
                        Nivel Estratégico Superior
                    </div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="mision.aspx">Misión y Visión</a></li>
                        <li><a href="objetivos.aspx">Objetivos de la Organización</a></li>
                        <li><a href="estrategias.aspx">Estrategias Generales</a></li>
                        <li><a href="indicadores.aspx">Tablero de Indicadores</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading separator">
                    <div class="panel-title">
                        Nivel Estratégico Vicepresidencias
                    </div>
                </div>
                <div class="panel-body">
                    <ul>

                        <li><a href="objetivos.aspx">Objetivos Estratégicos</a></li>
                        <li><a href="estrategias.aspx">Estrategias Específicas</a></li>
                        <li><a href="indicadores.aspx">Tablero de Indicadores</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading separator">
                    <div class="panel-title">
                        Nivel Operativo
                    </div>
                </div>
                <div class="panel-body">
                    <ul>

                        <li><a href="objetivos.aspx">Objetivos Operativos</a></li>
                        <li><a href="procesos.aspx">Procesos</a></li>
                        <li><a href="proyectos.aspx">Proyectos</a></li>
                        <li><a href="indicadores.aspx">Tablero de Indicadores</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



</div>
